.label-upload {
    font-weight: bold;
    color: rgb(231, 77, 77);
}

.quote {
    font-size: 14px;
    font-style: italic;
    margin: 5px 0;
}

.date {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 100%;
    border-radius: 1rem;
    border-width: 1px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.img-certify {
    height: 150px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    top: 75px;
    right: 31px;
}

.icon-x {
    top: -4px;
    right: 0px;
}

.list-group-item .active {
    background-color: #00bba6 !important;
    color: white !important;
}

/* This is the default state */
.custom-radio .custom-control-label::before {
    background-color: darkorange; /* orange */
}

/* This is the checked state */
.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-color: greenyellow; /* green */
    /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
    /* background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E);  */
    border-radius: 50%;
}

/* active state i.e. displayed while the mouse is being pressed down */
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: #ff0000; /* red */
}

/* the shadow; displayed while the element is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 123, 255, 0.25); /* pink, 25% opacity */
}
