.item-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-main {
    display: flex;
    align-items: center;
}

.bt-main {
    background: #00bba6;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.active-account {
    border-bottom: 3px solid #00bba6;
}

.input-search {
    border: 1px solid #757575;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 10px 0;
}

.input-search input {
    background-color: #fff;
    outline: none;
    border: none;
}

.box-order {
    border: 1px solid #757575;
    padding: 10px 20px;
}

.box-order .status-order {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #757575;
    margin-bottom: 20px;
    border-bottom: 1px solid #757575;
}

.card-order {
    margin: 20px 0;
}

.card-order .info-card img {
    height: 150px;
    width: 120px;
    object-fit: cover;
}

.info-card {
    display: flex;
    gap: 10px;
}

.info-card h4 {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
}

.info-card p {
    font-size: 12px;
    margin: 0;
}

.money .old {
    margin-right: 20px;
}

.card-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #757575;
}

.line {
    width: 100%;
    background-color: #757575;
}

.box-total {
    display: flex;
    justify-content: flex-end;
}
.box-total .price {
    font-weight: bold;
    font-size: 20px;
    color: #e74b32;
}

.premium {
    color: #00bba6;
}

.box-address {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #757575;
    justify-content: space-between;
}
.box-address_main {
    border: 1px solid #757575;
    padding: 10px 20px;
}

.btn-outline {
    border: 1px solid #00bba6;
    padding: 5px 10px;
    width: fit-content;
    color: #00bba6;
}

.btn-out {
    padding: 5px 10px;
    width: fit-content;
    float: right;
    bottom: 0;
    border: 1px solid #000;
}

.action {
    color: #00bba6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wish-list {
    justify-content: space-between;
    align-items: normal;
}

.step-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.step {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.step-item img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.line {
    height: 2px;
    width: 80px;
    background-color: #000;
}

.time-line {
    padding-bottom: 40px;
    border-bottom: 1px solid #dddddd;
}

.item-checkbox {
    height: 15px;
    width: 30px;
}

.img-cart {
    height: 150px;
    width: 120px;
    object-fit: cover;
}

.quantity-cart {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.quantity-cart .quantity-input {
    height: 30px;
    width: 50px;
    background-color: #fff;
}

.quantity-cart .text-bold {
    padding: 2px 12px;
    border: 1px solid #dddddd;
}
.sticker-nav {
    position: sticky;
    bottom: 0;
    padding: 10px;
    background-color: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-content {
    padding: 10px;
    border: 1px solid #dddddd;
}

.box-content .address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
}

.box-content .address p {
    color: #00bba6;
    font-weight: bold;
}

.box-content .address b {
    font-size: 16px;
}

.item-data {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.discount {
    background-color: #fff;
}

.input-discount {
    padding: 10px;
}

.btn-discount {
    margin-top: 10px;
    width: fit-content;
}

.text-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-line p {
    margin-top: 10px;
    line-height: 12px;
}

.text-box {
    background-color: #fff;
}

.bg-login {
    height: 920px;
    background-image: url("./assets/img/login.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.card-log {
    margin: 40px;
    width: 500px;
    background-color: #fff;
    padding: 20px;
}

.card-log {
    text-align: center;
    width: 400px;
}

.lihe {
    margin: 20px 0;
    height: 1px;
    width: 100%;
    background-color: #dddddd;
    position: relative;
}

.lihe p {
    background-color: #fff;
    position: absolute;
    position: absolute;
    top: -13px;
    left: 43%;
    right: 43%;
}

.list-bt {
    display: flex;
    gap: 20px;
}

.btn-ne {
    width: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
}

aside {
    display: inline;
    color: #ff2c00;
}

.dropdown-toggle::after {
    display: none;
}
/* .dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute; 
    top: -10px;
    left: -80px; 
} */
